# MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=ossndb
MYSQL_USER=ossnuser
MYSQL_PASSWORD=ossnpassword

# OSSN
OSSN_DATA=/var/www/ossn_data

# Puertos (opcional)
WEB_PORT=80

GHC_PAT= ghp_sWxDQINUrdisahdijaisda0sSnxN